<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Admin Page</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    </head>
<body background="{{ asset('res/Background.jpg') }}" style="background-attachment: fixed ">
<div style="width: 90%; height: 90%; position: absolute; left: 10%; top: 5%">
<img src="{{ asset('res/access_denied.jpg') }}">
</div>
</body>
</html>
