<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Admin Page</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <style>
            a.button_del {
                position: relative;
                display: inline-block;
                width: 6em;
                height: 2.5em;
                line-height: 2.4em;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                user-select: none;
                color: #000;
                outline: none;
                border: 1px solid rgba(110,121,128,.8);
                border-top-color: rgba(0,0,0,.3);
                border-radius: 5px;
                background: rgb(206, 220, 231) linear-gradient(rgb(206,220,231), rgb(89,106,114));
                box-shadow:
                0 -1px rgba(10,21,28,.9) inset,
                0 1px rgba(255,255,255,.5) inset;
            }
            a.button_del:hover {
                background: linear-gradient(#8A2BE2, #71828c);
            }
            a.button_del:active {
                line-height: 2.6em;
                background: linear-gradient(#bac6cf, #c5d3de 20%, #8A2BE2);
                box-shadow: 0 -1px rgba(255,255,255,.4) inset;
            }
            a.button_del:before {
                content: "";
                position: absolute;
                top: -10px; right: -10px; bottom: -10px; left: -10px;
                z-index: -1;
                border-radius: 8px;
                background: linear-gradient(rgba(200,200,200,.5), rgba(240,240,240,.5));
            }
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $('#comment_list').hide();

                $('#user_choice').click(function(){
                    var user_name = $('#user_list').val();
                    $.ajax({
                        dataType: 'json',
                        url: '{{ path('ajax_get_comment') }}',
                        type: 'POST',
                        data:{
                            'user_name': user_name
                        },
                        success:function(data){
                            $('#comment_list').hide();
                            for (var i in data){
                                $('#comment_list').append(
                                        '<p align="center">' + data[i].author_comment +'</p>' +
                                        '<p>'+ data[i].text_comment +'</p>' +
                                        '<p>'+ data[i].date_comment +'</p>' +
                                        '<p> </p>' +
                                        '<button class="test" id=' + data[i].id + '>УДАЛИТЬ КОММЕНТАРИЙ</button>' +
                                        '<p><hr></p>'
                                );
                            }
                         $('#comment_list').slideDown(2000);
                        }
                    });
                });

                $('.test').live('click', function(){
                   var question = confirm('Вы действительно хотите удалить этот комментарий?');
                    if(question){
                    var id_user = $(this).attr('id');
                    $.ajax({
                        dataType: 'json',
                        url: '{{ path('ajax_delete_comment') }}',
                        type: 'POST',
                        data:{
                            'id_comm': id_user
                        },
                        success:function(result){
                            if(dats.code == 100 && dats.success){
                                //dummy
                            }
                        }
                    });

                    var user_name = $('#user_list').val();
                    $.ajax({
                        dataType: 'json',
                        url: '{{ path('ajax_get_comment') }}',
                        type: 'POST',
                        data:{
                            'user_name': user_name
                        },
                        success:function(data_1){
                            $('#comment_list').hide();
                            $('#comment_list').empty();
                            for (var i in data_1){
                                $('#comment_list').append(
                                        '<p align="center">' + data_1[i].author_comment +'</p>' +
                                        '<p>'+ data_1[i].text_comment +'</p>' +
                                        '<p>'+ data_1[i].date_comment +'</p>' +
                                        '<p> </p>' +
                                        '<button class="test" id=' + data_1[i].id + '>УДАЛИТЬ КОММЕНТАРИЙ</button>' +
                                        '<p><hr></p>'
                                );
                            }
                            $('#comment_list').slideDown(2000);
                        }
                    });

                    }
                });

                $('#showPreview').click(function(){
                    var reader = new FileReader();
                    var image;

                    reader.onload = function(e){
                        var imageSrc = e.target.result;
                        $('#previewImg').attr('src', imageSrc);
                    }

                    reader.readAsDataURL($('input[name="form[file]"]').get(0).files[0]);
                });

            });
        </script>
    </head>
    {% block body %}
    {% block post_form %}{% endblock %}
    {% endblock %}
</html>
