<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Admin Page</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    </head>
    {% block body %}{% endblock %}
</html>
