{% extends ':Blog_pages:admin_page.html.twig' %}

{% block body %}
    <body background="{{ asset('res/Background.jpg') }}" style="background-attachment: fixed ">
    <<h1 align="center" style="font-family:'Indie Flower', cursive; font-size: 300%">Administration Page</h1>

    </body>
{% endblock %}